<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.9.5.9" targetFramework="xamarinmac20" />
  <package id="Microcharts.Forms" version="0.9.5.9" targetFramework="xamarinmac20" />
  <package id="Plugin.BLE" version="2.1.2" targetFramework="xamarinmac20" />
  <package id="Rg.Plugins.Popup" version="2.1.0" targetFramework="xamarinmac20" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views" version="2.80.2" targetFramework="xamarinmac20" />
  <package id="SkiaSharp.Views.Forms" version="2.80.2" targetFramework="xamarinmac20" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.7.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="5.0.0.2401" targetFramework="xamarinmac20" />
</packages>